#define ZMK_POINTING_DEFAULT_SCRL_VAL 150

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <input/processors/runtime-input-processor.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

#define NUM_FUNC      1
#define MARK_CURSOR   2
#define MOUSE         3
#define WIRELESS      4

//mouse cursol

&mmv {
    delay-ms = <20>;
    trigger-period-ms = <5>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <2>;
};

//mouse scroll

&msc {
    delay-ms = <3>;
    trigger-period-ms = <3>;
    time-to-max-speed-ms = <100>;
    acceleration-exponent = <0>;
};

/ {
    input_processors {
        zip_wheel_scaler: zip_wheel_scaler {
            compatible = "zmk,input-processor-scaler";
            #input-processor-cells = <2>;
            type = <INPUT_EV_REL>;
            codes = <INPUT_REL_WHEEL>;
            track-remainders;
        };
    };
};

&msc_input_listener {
    speed_up {
        layers = <NUM_FUNC>;
        input-processors = <&zip_wheel_scaler 3 1>; //スクロールを3倍速にする
    };
};

&trackball_listener {
    input-processors = <&mouse_runtime_input_processor>;

    scroller {
        layers = <NUM_FUNC>;
        input-processors = <
            &scroll_runtime_input_processor
            &zip_xy_transform INPUT_TRANSFORM_Y_INVERT
            &zip_xy_to_scroll_mapper
        >;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <16 17>;
        };

        BLUETOOTH {
            bindings = <&mo 4>;
            key-positions = <38 39>;
        };

        mouse_middle {
            bindings = <&mkp MB1>;
            key-positions = <17 18>;
        };

        input_wq {
            bindings = <&input_wq>;
            key-positions = <27 26>;
        };
    };

    behaviors {
        re_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = < &kp &kp >;
        };

        mouse_scrl: mouse_wheel_scrl {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = < &msc &msc >;
            tap-ms = <20>;
        };

        batt_type: batt_type {
            compatible = "zmk,behavior-battery-type";
            #binding-cells = <0>;
        };

        layer_BS: layer_BS {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_BS";
            #binding-cells = <0>;
            bindings = <&lt 1 BACKSPACE>, <&mt BACKSPACE BACKSPACE>;
        };
    };

    macros {
        input_wq: wq {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp W &kp Q>;
            label = "WQ";
        };

        windows: windows {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N1 &kp N5 &kp N2 &kp N2 &kp N5 &kp N3 &kp N0 &kp LS(N) &kp K &kp M &kp R &kp LS(NUMBER_4) &kp N1 &kp N4 &kp N7>;
            label = "WINDOWS";
        };

        linux: linux {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp N6 &kp B &kp LS(MINUS) &kp LS(Y) &kp LS(G) &kp N2 &kp P &kp LS(RBKT)>;
            label = "LINUX";
        };

        input_mail: mail {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &kp H &kp A &kp Y &kp A &kp T &kp O &kp MINUS &kp N &kp DOT &kp N &kp A &kp K &kp A &kp M &kp U &kp R &kp A &kp LBKT &kp A &kp D &kp V &kp A &kp N &kp T &kp E &kp S &kp T &kp DOT &kp C &kp O &kp M>;
            label = "MAIL";
        };

        view_battery: view_battery {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp INT5 &batt_type>;
            label = "VIEW_BATTERY";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q    &kp L                 &kp U           &kp F             &mt LEFT_GUI PERIOD                                              &mt LEFT_GUI SLASH  &kp W        &kp R           &kp Y                 &kp P
&kp E    &mt LC(LEFT_SHIFT) I  &mt LEFT_ALT A  &mt LEFT_SHIFT O  &mt LG(LEFT_SHIFT) COLON                                         &mt LG(LCTRL) K     &mt LCTRL T  &mt LEFT_ALT N  &mt LC(LEFT_SHIFT) S  &kp H
&kp Z    &kp X                 &kp C           &kp V             &kp COMMA                                                        &kp G               &kp D        &kp M           &kp J                 &kp B
&kp ESC  &kp LEFT_WIN          &trans          &kp INS           &layer_BS                 &mt LCTRL TAB    &mt LEFT_SHIFT ENTER  &lt 2 SPACE                      &trans          &trans                &kp MINUS
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        NUM_FUNC {
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5                                &kp SLASH                &kp EQUAL     &kp ASTERISK  &kp PLUS      &kp PERCENT
&kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5                          &kp NUMBER_6             &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &kp NUMBER_0
&kp F6        &kt F7        &kp F8        &kp F9        &kp F10                               &kp HOME                 &kp TILDE     &kp CARET     &kp PERIOD    &kp END
&trans        &windows      &linux        &trans        &trans        &trans    &kp LEFT_GUI  &kp LANG_ZENKAKUHANKAKU                &input_mail   &windows      &linux
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        MARK_CURSOR {
            bindings = <
&kp QUESTION  &kp EXCLAMATION  &kp AMPERSAND      &kp PIPE          &kp BACKSLASH                               &kp UNDERSCORE         &kp EQUAL          &kp ASTERISK     &kp PLUS          &kp AT_SIGN
&kp HASH      &kp GRAVE        &kp DOUBLE_QUOTES  &kp SQT           &kp SEMICOLON                               &kp LEFT_ARROW         &kp DOWN_ARROW     &kp UP_ARROW     &kp RIGHT_ARROW   &kp MINUS
&kp N0        &kp LESS_THAN    &kp LEFT_BRACE     &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS                        &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp RIGHT_BRACE  &kp GREATER_THAN  &kp DOLLAR
&trans        &trans           &trans             &trans            &kp BACKSPACE         &kp DELETE    &trans  &trans                                    &view_battery    &trans            &trans
            >;

            sensor-bindings = <&inc_dec_kp RIGHT LEFT>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                    &trans         &trans    &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans                    &trans         &mkp MB4  &mkp LCLK  &mkp RCLK  &mkp MB5
&trans  &trans  &trans  &trans  &trans                    &kp LS(LG(S))  &trans    &trans     &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans                   &trans     &trans     &trans
            >;

            sensor-bindings = <&mouse_scrl SCRL_DOWN SCRL_UP>;
        };

        WIRELESS {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                         &bt BT_SEL 0    &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4
&trans        &trans        &trans        &trans        &trans                               &bt BT_DISC 0   &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4
&trans        &trans        &trans        &trans        &trans                               &trans          &trans         &trans         &trans         &bt BT_CLR
&trans        &trans        &trans        &trans        &trans        &trans    &bootloader  &studio_unlock                 &trans         &trans         &bt BT_CLR_ALL
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
